<div class="container">
  <mat-card class="form">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form #authForm="ngForm" autocomplete="false" (ngSubmit)="onSubmit(authForm)">
      <mat-card-content>
        <mat-form-field class="form-group" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email"
                 id="email"
                 ngModel
                 name="email"
                 required
                 email/>
        </mat-form-field>
        <mat-form-field class="form-group" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password"
                 id="password"
                 ngModel
                 name="password"
                 required
                 minlength="6"/>
        </mat-form-field>
      </mat-card-content>
      <p>{{errorMessage | async }} </p>
      <mat-card-actions>
        <button
          mat-raised-button color="accent"
          matInput type="submit"
          [disabled]="!authForm.valid"
        >Login</button>
        <div class="message">
          <a [routerLink]="['/register']" >Not registered? Create an account</a>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

